{% load static %}
{% load jalali_tags %}
<!-- Preloader -->
    <div class="preloader">
	    <div class="preloader__wrap">
		    <div class="circle-pulse">
                <div class="circle-pulse__1"></div>
                <div class="circle-pulse__2"></div>
            </div>
		    <div class="preloader__progress"><span></span></div>
		</div>
	</div>

    <main class="main">
	    <!-- Header Image -->
		<div class="header-image">
		    <div class="js-parallax" style="background-image: url({{ h_info.background.url }});"></div>
		</div>
		
	    <div class="container gutter-top">
		    <!-- Header -->
		    <header class="header box">
			    <div class="header__left">
				    <div class="header__photo">
					    <img class="header__photo-img" src="{{ h_info.avatar.url }}" alt="Ronald Robertson">
					</div>
					<div class="header__base-info">
					    <h4 class="title titl--h4">{{ h_info.name }}</h4>
						<div class="status">{{ h_info.short_desc }}</div>
						<ul class="header__social">
						    <li><a href="{{ h_info.tel_url }}" target="_blank" ><i class="font-icon icon-facebook1"></i></a></li>
						    <li><a href="{{ x.tel_url }}" target="_blank" ><i class="font-icon icon-twitter1"></i></a></li>
							<li><a href="{{ insta.tel_url }}" target="_blank" ><i class="font-icon icon-instagram1"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="header__right">
				    <ul class="header__contact">
					    <li><span class="overhead">ایمیل</span>{{ h_info.email }}</li>
						<li><span class="overhead">تلفن</span>{{ h_info.phone }}</li>
					</ul>
					<ul class="header__contact">
					    <li><span class="overhead">تولد</span>{{ h_info.birthday|to_jalali:'%y/%m/%d' }}</li>
						<li><span class="overhead">مکان تولد</span>{{ h_info.birthplace }}</li>
					</ul>
				</div>
			</header>
		        
			<div class="row sticky-parent">