{% load static %}
<meta charset="utf-8" />
    

	<!-- Meta Data -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="address=no"/>
    <meta name="author" content="Reza Darabi" />
    <meta name="description" content="Reza Darabi Personal Site" />

    <!-- Open Graph data -->
    <meta property="og:title" content="Reza Darabi" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="rezadarabi.ir" />
    <meta property="og:image" content="assets/images/social.html" /> #TODO
    <meta property="og:description" content="Reza Darabi Personal Site" />
    <meta property="og:site_name" content="Reza Darabi" />

	<!-- Favicons -->
	<link rel="apple-touch-icon" sizes="144x144" href="{% static 'images/favicons/personal-development.png' %}">
	<link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/favicons/personal-development(1).png' %}">
	<link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/favicons/personal-development(2).png'%}">
	<link rel="apple-touch-icon" sizes="57x57" href="{% static 'images/favicons/personal-development(3).png'%}">
	<link rel="shortcut icon" href="{% static 'images/favicons/personal-development(3).png'%}" type="image/png">

    <!-- Styles -->
	<link rel="stylesheet" type="text/css" href="{% static 'styles/style-rtl-demo.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'styles/style-rtl.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'demo/style-demo.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/style-dark.css' %}"/>  
	