{% load static %}
{% load nav_active %}
<aside class="col-12 col-md-12 col-lg-2">
    <div class="sidebar box sticky-column">
        <ul class="nav">
            <li class="nav__item"><a class="{% if current_url == "info:main" %}active{% endif %}" href="{% url 'info:main' %}"><i class="icon-user"></i>درباره ی ما</a></li>
            <li class="nav__item"><a class="{% if current_url == "info:Resume" %}active{% endif %}" href="{% url 'info:Resume' %}"><i class="icon-file-text"></i>رزومه</a></li>
            <li class="nav__item"><a href="works.html"><i class="icon-codesandbox"></i> کارها</a></li>
            <li class="nav__item"><a class="{% if current_url == "blog:blog_list" %}active{% endif %}" href="{% url 'blog:blog_list' %}"><i class="icon-book-open"></i>وبلاگ</a></li>
            <li class="nav__item"><a class="{% if current_url == "info:contact" %}active{% endif %}" href="{% url 'info:contact' %}"><i class="icon-book"></i>تماس با ما</a></li>
        </ul>
    </div>
</aside>