{% load static %}
{% load nav_active %}
{% url 'info:main' as main %}
{% url 'info:Resume' as resume %}
{% url 'blog:blog_list' as blog %}
{% url 'blog:detail' post.id as blog_d %}
{% url 'info:contact' as contact %}
<aside class="col-12 col-md-12 col-lg-2">
    <div class="sidebar box sticky-column">
        <ul class="nav">
            <li class="nav__item"><a class="{% if request.path == main %}active{% endif %}" href="{% url 'info:main' %}"><i class="icon-user"></i>درباره ی ما</a></li>
            <li class="nav__item"><a class="{% if request.path == resume %}active{% endif %}" href="{% url 'info:Resume' %}"><i class="icon-file-text"></i>رزومه</a></li>
            <li class="nav__item"><a class="{% if request.path == blog or blog_d %}active{% endif %}" href="{% url 'blog:blog_list' %}"><i class="icon-book-open"></i>وبلاگ</a></li>
            <li class="nav__item"><a class="{% if request.path == contact %}active{% endif %}" href="{% url 'info:contact' %}"><i class="icon-book"></i>تماس با ما</a></li>
        </ul>
    </div>
</aside>


