{% extends 'main.html' %}
{% load static %}
{% load jalali_tags %}
{% block title %} {{ post.title }} {% endblock %}
{% block content %}

		        <div class="col-12 col-md-12 col-lg-10">
				    <div class="box box-content">
						<!-- Post -->
						<div class="pb-3">
						    <header class="header-post">
                                <h1 class="title title--h1">{{ post.title }}</h1>
								<div class="caption-post">
								    <p>{{ post.caption }}</p>
								</div>
								<div class="header-post__image-wrap">
								    <img class="cover lazyload" src="{{ post.picture.url }}" data-zoom alt="" />
								</div>
							</header>
							<div class="caption-post">
								<p>{{ post.caption_2 }}</p>
						    </div>
							<div class="gallery-post">
							    {% if post.picture_2 %}
                                    <img class="gallery-post__item cover lazyload" src="{{ post.picture_2.url }}" data-zoom alt="" />
                                {% endif %}
								{% if post.picture_3 %}
                                    <img class="gallery-post__item cover lazyload" src="{{ post.picture_3.url }}" data-zoom alt="" />
                                {% endif %}
							</div>
                            <div class="caption-post mt-4">
                                <h3 class="title title--h3">{{ post.summery_title }}</h3>
								<p>{{ post.summery_text }}</p>
                            </div>
                            <div class="caption-post mt-4">
                                <p>{{ post.body }}</p>
                            </div>
                            <div class="gallery-post__caption">منتشر شده در 
                                {{ post.created |to_jalali:'%y/%m/%d' }}
                                نویسنده : 
                                {{ post.author }}
                            </div>
                            <footer class="footer-post">
                                <a class="footer-post__share" href="tg://msg_url?url={{ request.build_absolute_uri }}&text={{ post.title }}" target="_blank"><img class="font-icon" src="{% static 'icons/telegram.svg' %}" alt="Telegram Icon"><span>اشتراک این پست در تلگرام</span></a>
                                <a class="footer-post__share" href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title={{ post.title }}&summary={{ post.summary }}&source=Reza Darabi"><i class="font-icon icon-linkedin"></i><span> اشتراک این پست در لینکدین</span></a>
                            </footer>
                        </div>
						
                        <div class="box-inner box-inner--rounded">
                            <h2 class="title title--h3">نظرات <span class="color--light">(3)</span></h2>
							
                            <!-- Comment -->
                            <div class="comment-box">
                                <div class="comment-box__inner">
                                    <svg class="avatar avatar--60" viewBox="0 0 84 84">
                                        <g class="avatar__hexagon">
                                            <image xlink:href="{% static 'img/avatar-2.jpg' %}" height="100%" width="100%" />
                                        </g>
                                    </svg>
                                    <div class="comment-box__body">
                                        <h5 class="comment-box__details"><span>علی نیازی</span><span class="comment-box__details-date">5 دقیقه پیش</span></h5>
                                        <p>مقاله ای بسیار جالب و آموزنده در مورد طراحی. چیزهای جدید و جالب فرا گرفتم.</p>

                                        <ul class="comment-box__footer">
                                            <li><i class="font-icon icon-like-fill"></i> <span>80</span></li>
                                            <li><i class="font-icon icon-reply"></i> <span>پاسخ</span></li>
                                        </ul>
                                    </div>
                                </div>
								
                                <!-- Comment -->
                                <div class="comment-box">
                                    <div class="comment-box__inner">
                                        <svg class="avatar avatar--60" viewBox="0 0 84 84">
                                            <g class="avatar__hexagon">
                                                <image xlink:href="{% static 'img/avatar-3.jpg' %}" height="100%" width="100%" />
                                            </g>
                                        </svg>
                                        <div class="comment-box__body">
                                            <h5 class="comment-box__details"><span>ملیکا خلیلیان</span><span class="comment-box__details-date">1 دقیقه پیش</span></h5>
                                            <p>موافقم ، مقاله ای بسیار جالب. بسیار از شما متشکرم! <img class="emoji" src="{% static '' %}assets/icons/emoji/emoji-nerd.svg" alt="nerd"/></p>
											
                                            <ul class="comment-box__footer">
                                                <li><i class="font-icon icon-like-fill"></i> <span>35</span></li>
                                                <li><i class="font-icon icon-reply"></i> <span>پاسخ</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
							
                            <!-- Comment -->
                            <div class="comment-box">
                                <div class="comment-box__inner">
                                    <svg class="avatar avatar--60" viewBox="0 0 84 84">
                                        <g class="avatar__hexagon">
                                            <image xlink:href="{% static 'img/avatar-6.jpg' %}" height="100%" width="100%" />
                                        </g>
                                    </svg>
                                    <div class="comment-box__body">
                                        <h5 class="comment-box__details"><span>علی نیازی</span><span class="comment-box__details-date">15 دقیقه پیش</span></h5>
                                        <p>از این مقاله خوب متشکرم. منتظر موارد جدید هستیم.</p>
										
                                        <ul class="comment-box__footer">
                                            <li><i class="font-icon icon-like-fill"></i> <span>15</span></li>
                                            <li><i class="font-icon icon-reply"></i> <span>پاسخ</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
							
                            <!-- Comment form -->
                            <ul class="social-auth">
                                <li class="social-auth__item">وارد شوید با:</li>
                                <li class="social-auth__item"><a class="social-auth__link" href="#"><i class="font-icon icon-facebook"></i></a></li>
                                <li class="social-auth__item"><a class="social-auth__link" href="#"><i class="font-icon icon-twitter"></i></a></li>
                                <li class="social-auth__item"><a class="social-auth__link" href="#"><i class="font-icon icon-dribbble"></i></a></li>
                                <li class="social-auth__item"><a class="social-auth__link" href="#"><i class="font-icon icon-behance"></i></a></li>
                            </ul>
                            <form class="comment-form">
                                <textarea id="commentForm" class="textarea form-control" required="required" placeholder="نوشتن دیدگاه ..." rows="1"></textarea>
                                <button type="submit" class="btn"><i class="font-icon icon-send"></i></button>
                                <div class="dropdown dropup">
                                    <i class="font-icon icon-smile" id="dropdownEmoji" data-toggle="dropdown" aria-haspopup="true"></i>
                                    <div class="dropdown-menu dropdown-menu-center" aria-labelledby="dropdownEmoji">
                                        <div class="emoji-wrap">
                                            <img class="emoji" src="{% static 'icons/emoji/emoji-laughing.svg' %}" title=":laughing:" alt="laughing"/>
                                            <img class="emoji" src="{% static 'icons/emoji/emoji-happy-2.svg' %}" title=":happy 2:" alt="happy 2"/>
                                            <img class="emoji" src="{% static 'icons/emoji/emoji-crazy.svg' %}" title=":crazy:" alt="crazy"/>
                                            <img class="emoji" src="{% static 'icons/emoji/emoji-bad.svg' %}" title=":bad:" alt="bad"/>
                                            <img class="emoji" src="{% static 'icons/emoji/emoji-angry.svg' %}" title=":angry:" alt="angry"/>
                                            <img class="emoji" src="{% static 'icons/emoji/emoji-happy.svg' %}" title="happy" alt="happy"/>
                                            <img class="emoji" src="{% static 'icons/emoji/emoji-thinking.svg' %}" title=":thinking:" alt="thinking"/>
                                            <img class="emoji" src="{% static 'icons/emoji/emoji-sad.svg' %}" title=":sad:" alt="sad"/>
                                            <img class="emoji" src="{% static 'icons/emoji/emoji-pressure.svg' %}" title=":pressure:" alt="pressure"/>
                                            <img class="emoji" src="{% static 'icons/emoji/emoji-in-love.svg' %}" title=":in love:" alt="in love"/>
                                            <img class="emoji" src="{% static 'icons/emoji/emoji-nerd.svg' %}" title=":laughing:" alt="nerd"/>
                                            <img class="emoji" src="{% static 'icons/emoji/emoji-happy-3.svg' %}" title=":happy 3:" alt="happy 3"/>
                                            <img class="emoji" src="{% static 'icons/emoji/emoji-shocked.svg' %}" title=":shocked:" alt="shocked"/>
                                            <img class="emoji" src="{% static 'icons/emoji/emoji-wink.svg' %}" title=":wink:" alt="wink"/>
                                            <img class="emoji" src="{% static 'icons/emoji/emoji-sweating.svg' %}" title=":sweating:" alt="sweating"/>
                                            <img class="emoji" src="{% static 'icons/emoji/emoji-shocked-2.svg' %}" title=":shocked 2:" alt="shocked 2"/>
                                            <img class="emoji" src="{% static 'icons/emoji/emoji-shocked-3.svg' %}" title=":shocked 3:" alt="shocked 3"/>
                                            <img class="emoji" src="{% static 'icons/emoji/emoji-sad-2.svg' %}" title=":sad 2:" alt="sad 2"/>
                                        </div>	
                                    </div>
                                </div>	
                            </form>
							
                        </div>
                    </div>
{% endblock %}