{% extends 'main.html' %}
{% load static %}
{% block title %} Reza Darabi | Resume {% endblock %}
{% block content %} 
<div class="col-12 col-md-12 col-lg-10">
				    <div class="box box-content">
					    <div class="pb-2">
		                    <h1 class="title title--h1 first-title title__separate">تماس با ما</h1>
					    </div>
                        
						<h2 class="title title--h3">فرم تماس</h2>
							
						<form method="post" id="contact-form" class="contact-form" data-toggle="validator">
                            {% csrf_token %}
                            <div class="row">
				                <div class="form-group col-12 col-md-6">
                                    {{ form.name }}
								    <div class="help-block with-errors"></div>
				                </div>
                                <div class="form-group col-12 col-md-6">
                                    {{ form.email }}
								    <div class="help-block with-errors"></div>
				                </div>
				                <div class="form-group col-12 col-md-12">
                                    {{ form.body }}
								    <div class="help-block with-errors"></div>
				                </div>
						    </div>
							<div class="row">
				                <div class="col-12 col-md-6 order-2 order-md-1 text-center text-md-left">
					                <div id="validator-contact" class="hidden"></div>
				                </div>
				                <div class="col-12 col-md-6 order-1 order-md-2 text-left">
					                <button type="submit" class="btn"><i class="font-icon icon-send"></i> پیام بفرستید</button>
				                </div>
			                </div>
		                </form>
					</div>
{% endblock %}    
