{% extends 'main.html' %}
{% load static %}
{% block title %} Reza Darabi | Resume {% endblock %}
{% block content %}

    <div class="col-12 col-md-12 col-lg-10">
        <div class="box box-content">
            <div class="pb-2">
                <h1 class="title title--h1 first-title title__separate">رزومه</h1>
            </div>

            <!-- Experience -->
            <div class="row">
                <div class="col-12">
                    <h2 class="title title--h3"><img class="title-icon" src="{% static 'icons/icon-education.svg' %}" alt=""/>
                        تحصیلات</h2>
                    <div class="timeline">
                        <!-- Item -->
                        {% for item in edu %}

                            <article class="timeline__item">
                                <h5 class="title title--h5 timeline__title">{{ item.name }}</h5>
                                <span class="timeline__period">{{ item.years }}</span>
                                <p class="timeline__description">{{ item.description }}</p>
                            </article>

                        {% endfor %}
                    </div>
                </div>

                <div class="col-12">
                    <h2 class="title title--h3"><img class="title-icon" src="{% static 'icons/icon-experience.svg' %}" alt=""/>
                        تجربه</h2>
                    <div class="timeline">
                        <!-- Item -->
                        {% for item in exp %}
                            <article class="timeline__item">
                            <h5 class="title title--h5 timeline__title">{{ item.name }}</h5>
                            <span class="timeline__period">{{ item.years }}</span>
                            <p class="timeline__description">{{ item.description }}</p>
                        </article>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <!-- Skills -->
            <div class="row">
                <div class="col-12">
                    <h2 class="title title--h3">مهارت های من</h2>
                    <div class="box box__border">
                        <!-- Progress -->
                        {% for item in skl %}
                            <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="{{ item.percent }}" aria-valuemin="0"
                                 aria-valuemax="100">
                                <div class="progress-text"><span>{{ item.name }}</span><span>{{ item.percent }}%</span></div>
                            </div>
                            <div class="progress-text"><span>طراحی وب</span></div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

{% endblock %}